<select [(ngModel)]="selectedDirective">
    <option value="if">If Directive</option>
    <option value="for">For Directive</option>
    <option value="switch">Switch Directive</option>
    <option value="style">Style Directive</option>
    <option value="class">Class Directive</option>
</select>


<ifdirective *ngIf="selectedDirective == 'if'"></ifdirective>
<fordirective *ngIf="selectedDirective == 'for'"></fordirective>
<switchdirective *ngIf="selectedDirective == 'switch'"></switchdirective>
<styledirective *ngIf="selectedDirective == 'style'"></styledirective>
<classdirective *ngIf="selectedDirective == 'class'"></classdirective>